.mb {
    margin-bottom: 20px;
}
.dropdown-menu {
    left: -100px;
}
.gotop {
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    background: rgb(37, 148, 133);
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.5s;
}
.topblock {
    opacity: 1;
}

.card-img-top {
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
}
.card-deck .card {
    -ms-flex: 0 0 30%;
    flex: 0 0 28%;
    margin-bottom: 35px;
    transition: 0.5s;
}
.card-footer {
    text-align: center;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

@media screen and (min-width: 1280px) {
    .gotop {
        line-height: 30px;
        width: 30px;
        height: 30px;
        right: 25px;
        bottom: 25px;
    }
}
